*.disasm
*.evm
*.log
*.pyc
*.report
*.sol
*.1

.DS_Store

.idea/dist/
.idea/

contract_data
dist/
tmp/

current_test.pickle

bytecode
bytecode.1
byte
oyente/byte
oyente/abiresult
oyente/readFileForOyente.sh
oyente/transfer_visited_edges
oyente/visited_edges*
